<div>
    <mat-card class="card">
        <mat-card-title>Next Friday</mat-card-title>
        <mat-card-subtitle>
            Director
        </mat-card-subtitle>
        <mat-card-actions>
            <button>Buy Ticket</button>
        </mat-card-actions>
        <mat-card-content>
            Description
        </mat-card-content>
        <mat-card-footer>
            Date
        </mat-card-footer>
        <img mat-card-image src="/assets/img/friday.jpg">
    </mat-card>

    <mat-card class="card">
        <mat-card-title>Infinite</mat-card-title>
        <mat-card-subtitle>
            Director
        </mat-card-subtitle>
        <mat-card-actions>
            <button>Buy Ticket</button>
        </mat-card-actions>
        <mat-card-content>
            Description
        </mat-card-content>
        <mat-card-footer>
            Date
        </mat-card-footer>
        <img mat-card-image src="/assets/img/infinite.jpg">
    </mat-card>


    <mat-card class="card">
        <mat-card-title>Jolt</mat-card-title>
        <mat-card-subtitle>
            Director
        </mat-card-subtitle>
        <mat-card-actions>
            <button>Buy Ticket</button>
        </mat-card-actions>
        <mat-card-content>
            Description
        </mat-card-content>
        <mat-card-footer>
            Date
        </mat-card-footer>
        <img mat-card-image src="/assets/img/jolt.jpg">
    </mat-card>

    <mat-card class="card">
        <mat-card-title>Red Notice</mat-card-title>
        <mat-card-subtitle>
            Director
        </mat-card-subtitle>
        <mat-card-actions>
            <button>Buy Ticket</button>
        </mat-card-actions>
        <mat-card-content>
            Description
        </mat-card-content>
        <mat-card-footer>
            Date
        </mat-card-footer>
        <img mat-card-image src="/assets/img/red-notice.jpg">
    </mat-card>

    
</div>